HOST=127.0.0.1
PORT=4173
DATA_DIR=/var/lib/info-navigation
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace_with_a_strong_password
# 生产环境也可以删除 ADMIN_PASSWORD，改用下面的密码哈希：
# ADMIN_PASSWORD_HASH='scrypt$16384$8$1$replace_with_generated_salt$replace_with_generated_hash'
SESSION_HOURS=8
COOKIE_SECURE=true
TRUST_PROXY=true
